.cursor {
  width: 60px;
  height: 60px;
  border: 1px solid $color-2;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  //transition: top 1600ms ease-out;
  //transition: left 1600ms ease-out;
  z-index: 2;
  backdrop-filter: brightness(300%);
}

.hovered {
  transition: .3s ease-out;
  width: 30px;
  height: 30px;
  background-color: $color-2 opacify($color: #000000, $amount: 1);
  cursor: none;
}
